{% extends 'app/base.html' %}
{% block title %}Đăng ký - DDC Books{% endblock %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
<section class="auth-section">
    <div class="auth-card">
        <h2 class="auth-title">Đăng ký tài khoản</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group"><i class="fas fa-user"></i><input type="text" name="full_name" placeholder="Tên người dùng" required></div>
            <div class="input-group">
    <i class="fas fa-envelope"></i>
    <input type="email" 
           name="email" 
           placeholder="Email (sử dụng để đăng nhập)" 
           pattern=".{4,}@.*" 
           title="Email phải có ít nhất 4 ký tự trước ký hiệu @"
           required>
</div>
            <div class="input-group"><i class="fas fa-key"></i><input type="password" name="password" placeholder="Mật khẩu" required></div>
            <div class="input-group"><i class="fas fa-check-double"></i><input type="password" name="confirm_password" placeholder="Xác nhận mật khẩu" required></div>
            <button type="submit" class="btn-submit">TẠO TÀI KHOẢN</button>
            <p style="margin-top: 20px; font-size: 0.9rem;">Đã có tài khoản? <a href="{% url 'login' %}" style="color: var(--primary); text-decoration: none; font-weight: 600;">Đăng nhập</a></p>
        </form>
    </div>
</section>
{% endblock %}